/* #about_body,.scroll-content{background-image:url(/img/oba_logo.png);background-repeat:no-repeat;background-attachment:fixed;background-position:center} */
#logo
{
	width:100%;
	text-align: center;
}